<% layout("/layouts/boilerplate") %>


<div id="carouselExampleIndicators" class="carousel slide ads">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/imgs/thumb.png" class="d-block w-100" alt="... " width="200px" height="500px">
        </div>
        <div class="carousel-item">
            <img src="/imgs/thumb.png" class="d-block w-100" alt="..." width="200px" height="500px"> 
        </div>
        <div class="carousel-item">
            <img src="/imgs/thumb.png" class="d-block w-100" alt="..." width="200px" height="500px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<ul class="nav justify-content-center filtertab">
    <li class="nav-item ">
        <a class="nav-link active filteritem" href="#">Web Development</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link filteritem" href="#">Web3</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link filteritem" href="#">Artificial Intelligence</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link filteritem" href="#">Machine Learning</a>
    </li>
</ul>


<hr>

<div class="row row-cols-1 row-cols-md-2 g-4 course-container">
    <% for(let course of allCourses) { %>
        <div class="col">
            <div class="card">
                <img src=<%= course.thumbnail.url %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= course.title %>
                    </h5>
                    <p class="card-text">
                        <%= course.description %>
                    </p>
                    <a href="/home/show/<%= course._id %>" class="btn btn-primary">Purchase Now</a>
                </div>
            </div>
        </div>
        <% } %>
</div>


<div class="d-grid gap-2 col-6 mx-auto newCoursebtn">
    <a class="btn btn-primary" href="/home/new">
        <button class="btn btntext" type="button">Create Course</button>
    </a>
</div>
